[submodule "annex"]
	path = modules/webapps-annex
	url = https://github.com/01org/webapps-annex.git
[submodule "memory-match"]
	path = modules/webapps-memory-match
	url = https://github.com/01org/webapps-memory-match.git
[submodule "rabbit"]
	path = modules/webapps-rabbit
	url = https://github.com/01org/webapps-rabbit.git
